/* reset */

* {
    margin: 0;
    padding: 0;
    
}

html {
    font-family: 'Montserrat', sans-serif;
}


/* aside bar and main */

.big-container {
    display: flex;
    max-width: 1500px;
    margin: auto;
}


/* aside bar */

aside {
    background-color: black;
    height: calc(100vh - 70px);
    min-width: 180px;
}

.aside-container {
    /* border: 2px solid green; */
    max-width: 90%;
    margin: auto;

    color: white;
}

.top-block {
    /* border: 2px solid red; */
    padding: 10px;
}

.top-block-logo {
    width: 120px;
}

.top-block-logo img{
    width: 100%;
}

.home,
.search,
.library {
    width: 20px;
}

.home img,
.search img,
.library img {
    width: 100%;
}

.aside-icon {
    display: flex;
    align-items: center;
    padding: .2em 0;
}

.aside-icon img {
    margin-right: .2em;
}

.home {
    padding-top: 1em;
}

.aside-text {
    white-space: nowrap;
    font-size: .7em;
}

.playlist {
    display: flex;
}

.playlist-title {
    text-transform: uppercase;
    font-weight: 600;
}

.playlist-item {
    list-style: none;
    font-size: .7em;
    line-height: 2em;
}



/* aside hover effects */


/* main */

main {
    background-color: rgb(20, 25, 34);
    height: calc(100vh - 70px);
    width: calc(100vw - 180px);
    overflow-y: auto;
}

.spam-bar {
    background-color: rgba(0, 0, 0, 0.607);
    position: fixed;
    height: 55px; 
    max-width: 1320px;
    width: calc(100% - 180px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.spam-button {
    background-color: rgba(0, 0, 0, 0.331);
    text-transform: uppercase;
    margin-right: 2rem;
    padding: .5em 2em;
    border-radius: 1em;
    border: 1px solid white;
    color: white;
}

/* main hover effects */

.spam-button:hover {
    cursor: pointer;  
    background-color: rgb(29, 208, 93);
    scale: 1.1;
}

.spam-button:active {
    background-color: rgb(32, 128, 66);
}

.content {
    height: 100px;
    max-width: 95%;
    margin: auto;
    margin-top: 80px;
}


/* footer */

.controls {
    background-color: rgb(8, 11, 18);
    max-width: 1500px;
    margin: auto;
    min-height: 70px;
    position: fixed;
    z-index: 99;
    right: -50%;
    left: -50%;
}


@media screen and (max-width: 878px) {
   
}

@media screen and (max-width: 552px) {

    /* structure */
    aside {
        min-width: 50px;
    }

    main {
        width: calc(100vw - 50px);
    }

    .bar-spam {
        width: calc(100% - 50px);
    }
}