/* reset */

* {
    margin: 0;
    padding: 0;
    
}

html {
    font-family: 'Roboto', sans-serif;
}


/* aside bar and main */

.big-container {
    display: flex;
    max-width: 1500px;
    margin: auto;
}


/* aside bar */

aside {
    background-color: black;
    height: calc(100vh - 70px);
    min-width: 180px;
}


/* main */

main {
    background-color: rgb(20, 25, 34);
    height: calc(100vh - 70px);
    width: calc(100vw - 180px);
    overflow-y: scroll;
}

.bar-spam {
    background-color: rgba(0, 0, 0, 0.607);
    position: absolute;
    height: 55px; 
    max-width: 1320px;
    width: calc(100% - 180px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.spam-button {
    background-color: rgba(0, 0, 0, 0.331);
    text-transform: uppercase;
    margin-right: 2rem;
    padding: .5em 2em;
    border-radius: 1em;
    border: 1px solid white;
    color: white;
}

.spam-button:hover {
    cursor: pointer;  
    background-color: rgb(29, 208, 93);
}

.content {
    border: 2px solid green; 
    height: 100px;
    max-width: 95%;
    margin: auto;
    margin-top: 100px;
}


/* footer */

footer {
    background-color: rgb(8, 11, 18);
    max-width: 1500px;
    margin: auto;
    min-height: 70px;
    position: fixed;
    z-index: 99;
    right: -50%;
    left: -50%;
}


@media screen and (max-width: 878px) {
   
}

@media screen and (max-width: 522px) {
    aside {
        min-width: 50px;
    }

    main {
        width: calc(100vw - 50px);
    }

    .bar-spam {
        width: calc(100% - 50px);
    }
}